celery
requests
beautifulsoup4
pymilvus
torch==1.13.1+cpu --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
transformers
pillow
sentence_transformers
ffmpeg-python
opencv-python
open_clip_torch
torchvision==0.14.1+cpu --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
pytube
