.home-container {
  text-align: center;
  margin-top: 5rem;
}

.btn-home {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: #b30000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #ff3b3b;
}

.btn-home:hover {
  background-color: #ff1c1c;
}
