body {
  margin: 0;
  padding: 0;
  background-color: #000;    /* 黑底 */
  color: #ff1c1c;            /* 紅字 */
  font-family: 'Montserrat', sans-serif;
}
h1, h2 {
  color: #ff3b3b;
}
.btn-hunt {
  background-color: #910f0f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.btn-hunt:hover {
  background-color: #ff1c1c;
}
